<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesionC</servlet-name>
        <servlet-class>servlet.InicioSesionC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionV</servlet-name>
        <servlet-class>servlet.InicioSesionV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarC</servlet-name>
        <servlet-class>servlet.RegistrarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarV</servlet-name>
        <servlet-class>servlet.RegistrarV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>Controlador.ControladorIMG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesionC</servlet-name>
        <url-pattern>/IniciarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionV</servlet-name>
        <url-pattern>/InicioV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarC</servlet-name>
        <url-pattern>/RegistroC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarV</servlet-name>
        <url-pattern>/RegistroV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/Controladorsalir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
